<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Edit member</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.members.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="memberEditForm">
      <div class="form-group">
        <label class="control-label col-md-4" for="member.edit.form.user">
          User
        </label>
        <div class="col-md-4">
          <p class="form-control-static" id="member.edit.form.user">
            [<a data-ui-sref="user_dashboard( {Id: member.login} )">{{member.login}}</a>] : {{member.name}}
          </p>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-4" for="member.edit.form.role">
          Role
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <select class="form-control" name="role"
                  id="member.edit.form.role"
                  placeholder="Role"
                  data-ng-required="true"
                  data-ng-model="selected_role"
                  data-ng-options="r.name for r in roles">
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="project.members.show( {projectId: project_id, loginId: member.login} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
