<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Members</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.members.add( {projectId: project_id} )">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div class="row" data-ng-show="members.length > 0">

      <div class="col-md-8">
        <p style="text-align: center; margin-top: 25px">
          Showing {{ members.length }} of {{pnTotalItems}}
          <span data-ng-show="pnTotalItems > 1">members</span>
          <span data-ng-show="pnTotalItems <= 1">member</span>
      </div>
      <div class="col-md-4" style="text-align: right"
           data-ng-show="can_show_pagination()">
        <uib-pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-ng-change="pageChanged()"
                        data-ng-model="pnCurrentPage">
        </uib-pagination>
      </div>
    </div>
    <div data-ng-show="members.length == 0">
      <p style="text-align: center">Project members have not been added yet.</p>
    </div>
  </div>
  <table id="project-listing" class="table table-hover">
    <tr data-ng-repeat="member in members">
      <td class="col-md-6">
        <a data-ui-sref="project.members.show( {projectId: project_id, loginId: member.login} )">
          [{{ member.login }}] {{ member.name }}
        </a>
      </td>
      <td data-ng-switch="(member.role_id) ? true : false" class="col-md-5">
        <span data-ng-switch-when="true">
          [{{ member.role_id }}] {{ member.role_name }}
        </span>
        <span style="margin: 2px; display:inline-block"
              data-ng-switch-when="false" class="label label-warning">
          No role assigned
        </span>
      </td>
      <td class="col-md-1" style="text-align:right">
        <a data-ng-click="removeMember(member.login)"
           style="cursor:pointer" data-uib-tooltip="Remove">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
