<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Add member</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.members.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="memberAddForm">
      <div class="form-group"
           data-ng-class="getClass(memberAddForm.user)">
        <label class="control-label col-md-4" for="member.add.form.user">
          User
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="member.add.form.user"
                 name="user" placeholder="User name"
                 autocomplete="off"
                 data-uib-typeahead="user as user.name for user in users | matchUser:$viewValue"
                 data-typeahead-editable="false"
                 data-ng-required="true"
                 data-ng-model="user">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4" for="member.add.form.role">
          Role
        </label>
        <div class="col-md-4">
          <select class="form-control" name="role"
                  id="member.add.form.role"
                  placeholder="Role"
                  data-ng-model="selected_role"
                  data-ng-options="r.name for r in roles">
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="project.members.list( {projectId: project_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
