<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Member</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.members.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="project.members.edit( {projectId: project_id, loginId: member.login} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Member</dt>
        <dd>[{{member.login}}] {{member.name}}</dd>
        <div data-ng-switch="(member.role_id) ? true : false">
          <div data-ng-switch-when="true">
            <dt>Role ID</dt>
            <dd>{{member.role_id}}</dd>
            <dt>Role Name</dt>
            <dd>{{member.role_name}}</dd>
          </div>
          <div data-ng-switch-when="false">
            <dt>Role</dt>
            <dd>
              <span style="margin: 2px; display:inline-block"
                    class="label label-warning">
                No role assigned
              </span>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
