<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{projectDash.short_id}}] : Overview</b>
    </span>
    <span class="pull-right">
      <a data-ng-show="projectDash.can_edit_project_settings"
         data-uib-tooltip="Settings"
         data-ui-sref="project.settings.show({projectId: projectDash.short_id})">
        <i class="glyphicon glyphicon-cog"></i>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    {{ title }}
  </div>
</div>
