<div class="panel panel-default">
  <div class="panel-heading">
    <b>Project [{{ projectDash.short_id }}] : Settings</b>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right" data-ng-show="projectDash.can_edit_project_settings">
        <a data-ui-sref="project.settings.edit( {projectId: projectDash.short_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Short ID</dt>
        <dd>{{project.short_id}}</dd>
        <dt>Name</dt>
        <dd>{{project.name}}</dd>
      </dl>
    </div>
  </div>
</div>
