<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>New Project</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.projects.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="projectAddForm">
      <div class="form-group"
           data-ng-class="getClass(projectAddForm.short_id)">
        <label class="control-label col-md-4"
               for="project.add.form.short_id">
          Short ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="project.add.form.short_id" name="short_id"
                 class="form-control"
                 data-unique-project-id
                 placeholder="Unique Short ID"
                 data-ng-required="true"
                 data-ng-model="project.short_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(projectAddForm.short_id, 'pattern')">
            Invalid project ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(projectAddForm.short_id, 'uniqueProjectId')">
            Project ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(projectAddForm.short_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(projectAddForm.name)">
        <label class="control-label col-md-4"
               for="project.add.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="project.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Project name"
                 data-ng-required="true"
                 data-ng-model="project.name"/>
          <div class="text-danger"
               data-ng-show="showError(projectAddForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.projects.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
