<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Projects</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.projects.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <div class="row" data-ng-show="projects.length > 0">

      <div class="col-md-8">
        <p style="text-align: center; margin-top: 25px">
          Showing {{ projects.length }} of {{pnTotalItems}}
          <span data-ng-show="pnTotalItems > 1">projects</span>
          <span data-ng-show="pnTotalItems <= 1">project</span>
      </div>
      <div class="col-md-4" style="text-align: right"
           data-ng-show="can_show_pagination()">
        <uib-pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-ng-change="pageChanged()"
                        data-ng-model="pnCurrentPage">
        </uib-pagination>
      </div>
    </div>
    <div data-ng-show="projects.length == 0">
      <p style="text-align: center">Projects have not been created yet.</p>
    </div>
  </div>
  <table id="project-listing" class="table table-hover">
    <tr data-ng-repeat="project in projects">
      <td class="col-md-2">
        <a data-ui-sref="project({projectId: project.short_id})">
          {{ project.short_id }}
        </a>
      </td>
      <td class="col-md-2">{{project.name}}</td>
      <td class="col-md-2" style="text-align:right">
        <a data-ng-click="deleteProject(project.short_id)"
           data-uib-tooltip="Delete" style="cursor:pointer">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
