<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{projectDash.short_id}}] : Edit settings</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.settings.show( {projectId: projectDash.short_id})">
        <i class="glyphicon glyphicon-cog"></i>
        <span>Back to settings</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="projectEditForm">

      <div class="form-group"
           data-ng-class="getClass(projectEditForm.name)">
        <label class="control-label col-md-4"
               for="project.edit.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="project.edit.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Project name"
                 data-ng-required="true"
                 data-ng-model="project.name"/>
          <div class="text-danger"
               data-ng-show="showError(projectEditForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="project.settings.show( {projectId: projectDash.short_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
