<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Role</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.roles.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="project.roles.edit( {projectId: project_id, roleId: role.short_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Short ID</dt>
        <dd>{{role.short_id}}</dd>
        <dt>Name</dt>
        <dd>{{role.name}}</dd>
        <dt>Permissions</dt>
        <dd data-ng-repeat="permission in role.permissions">
          <span style="display: inline-block" class="label label-primary">
            {{ permission }}
          </span>
        </dd>
      </dl>
    </div>
  </div>
</div>
