<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Roles</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.roles.add( {projectId: project_id} )">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div class="row" data-ng-show="roles.length > 0">

      <div class="col-md-8">
        <p style="text-align: center; margin-top: 25px">
          Showing {{ roles.length }} of {{pnTotalItems}} project
          <span data-ng-show="pnTotalItems > 1">roles</span>
          <span data-ng-show="pnTotalItems <= 1">role</span>
      </div>
      <div class="col-md-4" style="text-align: right"
           data-ng-show="can_show_pagination()">
        <uib-pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-ng-change="pageChanged()"
                        data-ng-model="pnCurrentPage">
        </uib-pagination>
      </div>
    </div>
    <div data-ng-show="roles.length == 0">
      <p style="text-align: center">Project roles have not been created yet.</p>
    </div>
  </div>
  <table id="project-listing" class="table table-hover">
    <tr data-ng-repeat="role in roles">
      <td class="col-md-4">
        <a data-ui-sref="project.roles.show( {projectId: project_id, roleId: role.short_id} )">
          {{ role.short_id }}
        </a>
      </td>
      <td class="col-md-7">{{ role.name }}</td>
      <td class="col-md-1" style="text-align:right">
        <a data-ng-click="deleteRole(role.short_id)"
           style="cursor:pointer">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
