<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : New role</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="project.roles.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="roleAddForm">
      <div class="form-group"
           data-ng-class="getClass(roleAddForm.role_id)">
        <label class="control-label col-md-4"
               for="role.add.form.role_id">
          Role ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="role.add.form.role_id" name="role_id"
                 class="form-control"
                 data-unique-role-id
                 placeholder="Role ID"
                 data-ng-required="true"
                 data-ng-model="role.short_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'pattern')">
            Invalid role ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'uniqueRoleId')">
            Role ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.role_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(roleAddForm.name)">
        <label class="control-label col-md-4"
               for="role.add.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="role.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="role.name"
                 data-ng-pattern="/^[a-zA-Z][\s*\w]*$/"/>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(roleAddForm.name, 'pattern')">
            Invalid characters in role name
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4"
               for="role.add.form.permissions">
          Permissions
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6">
          <div data-ng-repeat="perm in permissions">
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-model="perm.isSelected"
                       data-ng-change="permission_changed(perm)"/>
                {{ perm.title }}
                <div data-ng-show="perm.hasChildren">
                  <label data-ng-repeat="sub in perm.permissions"
                         style="display: block">
                    <input type="checkbox" data-ng-disabled="!perm.isSelected"
                           data-ng-model="sub.isSelected"/>
                    <span data-uib-tooltip="{{sub.tooltip}}"
                          data-tooltip-placement="right">
                      {{ sub.title }}
                    </span>
                  </label>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="project.roles.list( {projectId: project_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
