<ol class="breadcrumb">
  <li data-ng-repeat="part in breadcrumbs"
      data-ng-class="{active: part.activePage}">
    <a data-ng-href="{{part.url}}" data-ng-show="!part.activePage">
      {{ part.title }}</a>
    <span data-ng-show="part.activePage">{{ part.title }}</span>
  </li>
</ol>
