<div class="row">
  <div id="page-header" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#header-nav-collapse-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
         data-ui-sref="home">kalam</a>
    </div>
    <div class="navbar-collapse collapse" id="header-nav-collapse-menu">
      <p class="navbar-text">
        Signed in as {{userInfo.getLoginID()}}
      </p>
      <ul class="navbar-nav nav navbar-right">
        <li data-ng-class="{ active: $state.includes('user.profile') }">
          <a data-ui-sref="user.profile.show">Profile</a>
        </li>
        <li data-ng-show="userInfo.hasManagePermission()"
            data-ng-class="{ active: $state.includes('manage') }">
          <a data-ui-sref="manage">Manage</a>
        </li>
        <li><a data-ng-href="{{logout_url}}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <div id="debug-messages" style="position: absolute; z-index: 1000;">
      <span class="label label-warning" id="app-loading"
            style="display:none">
        Loading data. Please wait...
      </span>
      <span class="label label-danger" id="app-error"
            style="display:none">
        An error occurred during HTTP request
      </span>
    </div>
  </div>
</div>


<div id="page-content" class="row">
  <div data-ui-view="breadcrumbs">
  </div>
  <div data-ui-view>
  </div>
</div>

<div id="page-footer" class="row">
</div>
