<div class="list-group panel-default">
  <div class="list-group-item panel-heading">
    <div class="panel-title text-center">
      {{ title }}
    </div>
  </div>
  <a data-ng-repeat="menu in links" class="list-group-item"
     data-ui-sref="{{menu.sref}}"
     data-ng-class="{active: $state.includes('{{menu.bref}}')}">
    {{menu.name }}
  </a>
</div>
