<div class="panel panel-default">
  <div class="panel-heading">
    <b>Change password</b>
  </div>

  <div class="panel-body">
    <div data-ng-show="alert.show">
      <uib-alert data-type="{{alert.type}}"
                 data-close="closeAlert()">{{alert.msg}}</uib-alert>
    </div>

    <form class="form-horizontal" novalidate
          name="changePasswordForm">

      <div class="form-group">
        <label class="control-label col-md-4"
               for="change.password.edit.form.login">
          Login ID
        </label>
        <div class="col-md-4">
          <p id="change.password.edit.form.login" class="form-control-static">
            {{user.login}}
          </p>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(changePasswordForm.old_password)">
        <label class="control-label col-md-4"
               for="change.password.form.old_password">
          Old Password
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="password"
                 id="change.password.form.old_password"
                 name="old_password"
                 class="form-control"
                 placeholder="Old password"
                 data-ng-required="true"
                 data-ng-model="user.old_password"/>
          <div class="text-danger"
               data-ng-show="showError(changePasswordForm.old_password, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(changePasswordForm.new_password)">
        <label class="control-label col-md-4"
               for="change.password.form.new_password">
          New Password
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="password"
                 id="change.password.form.new_password"
                 name="new_password"
                 class="form-control"
                 placeholder="New password"
                 data-ng-required="true"
                 data-ng-model="user.new_password"/>
          <div class="text-danger"
               data-ng-show="showError(changePasswordForm.new_password, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(changePasswordForm.confirm_password)">
        <label class="control-label col-md-4"
               for="change.password.form.confirm_password">
          Confirm Password
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="password"
                 id="change.password.form.confirm_password"
                 name="confirm_password"
                 class="form-control"
                 placeholder="Confirm password"
                 data-ng-required="true"
                 data-ui-validate=" '$value==user.new_password' "
                 data-ui-validate-watch=" 'user.new_password' "
                 data-ng-model="confirm_password"/>
          <div class="text-danger"
               data-ng-show="showError(changePasswordForm.confirm_password, 'required')">
            Required
          </div>
          <span class="text-danger"
                data-ng-show="changePasswordForm.confirm_password.$error.validator && (changePasswordForm.confirm_password.$dirty || changePasswordForm.new_password.$dirty)">
            Passwords do not match
          </span>

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
          </div>
        </div>
      </div>
    </form>


  </div>
</div>
