<div class="panel panel-default">
  <div class="panel-heading">
    <b>Profile : Details</b>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <a data-ui-sref="user.profile.edit">
        <i class="glyphicon glyphicon-edit"></i>
        <span>Edit</span>
      </a>
    </div>
    <dl class="dl-horizontal">
      <dt>Login ID</dt>
      <dd>{{user.login}}</dd>
      <dt>Name</dt>
      <dd>{{user.name}}</dd>
      <dt>Email</dt>
      <dd>{{user.email}}</dd>
    </dl>
  </div>
</div>
