<div class="panel panel-default">
  <div class="panel-heading">
    <b>Profile : Edit details</b>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" novalidate name="profileEditForm">

      <div class="form-group">
        <label class="control-label col-md-4" for="profile.edit.form.login">
          Login ID
        </label>
        <div class="col-md-4">
          <p id="profile.edit.form.login" class="form-control-static">
            {{user.login}}
          </p>
        </div>
      </div>


      <div class="form-group"
           data-ng-class="getClass(profileEditForm.name)">
        <label class="control-label col-md-4" for="profile.edit.form.name">
          Full name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="profile.edit.form.name"
                 name="name"
                 class="form-control"
                 placeholder="Real name"
                 data-ng-required="true"
                 data-ng-model="user.name"/>
          <div class="text-danger"
               data-ng-show="showError(profileEditForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(profileEditForm.email)">
        <label class="control-label col-md-4" for="profile.edit.form.email">
          Email
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="profile.edit.form.email" name="email"
                 data-unique-email-exclude="user.login"
                 class="form-control"
                 placeholder="Email ID"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z][a-zA-Z0-9._%-+]*@([a-zA-Z][a-zA-Z0-9-]*\.)+[a-zA-Z]{2,4}$/"
                 data-ng-model="user.email"/>
          <div class="text-danger"
               data-ng-show="profileEditForm.email.$error.pattern">
            Invalid email ID
          </div>
          <div class="text-danger"
               data-ng-show="profileEditForm.email.$error.uniqueEmailExclude">
            Email ID already in use
          </div>
          <div class="text-danger"
               data-ng-show="showError(profileEditForm.email, 'required')">
            Required
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="user.profile.show"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
