<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>SSH Keys</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="user.ssh_keys.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <div data-ng-show="keys.length == 0">
      <p style="text-align: center">No SSH keys available.</p>
    </div>
  </div>

  <table id="key-listing" class="table table-hover">
    <tr data-ng-repeat="key in keys">
      <td class="col-md-2">{{ key.short_id }}</td>
      <td class="col-md-1">{{ key.key_type }}</td>
      <td class="col-md-1">{{ key.bits }}</td>
      <td class="col-md-7"><samp>{{ key.fingerprint }}</pre></samp>
      <td class="col-md-1" style="text-align: right">
        <a data-ng-click="removeKey(key.short_id)"
           style="cursor: pointer" data-uib-tooltip="Remove">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
