<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>SSH Keys : New</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="user.ssh_keys.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">

    <div data-ng-show="alert.show">
      <uib-alert data-type="{{alert.type}}"
                 data-close="closeAlert()">{{alert.msg}}</uib-alert>
    </div>

    <form class="form-horizontal" novalidate name="sshKeyAddForm">
      <div class="form-group"
           data-ng-class="getClass(sshKeyAddForm.short_id)">
        <label class="control-label col-md-4"
               for="repo.add.form.short_id">
          Short ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="sshKey.add.form.short_id" name="short_id"
                 class="form-control"
                 data-ssh-unique-key-id
                 placeholder="Short ID"
                 data-ng-required="true"
                 data-ng-model="sshkey.short_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(sshKeyAddForm.short_id, 'pattern')">
            Invalid short ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(sshKeyAddForm.short_id, 'sshUniqueKeyId')">
            Short ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(sshKeyAddForm.short_id, 'required')">
            Required
          </div>
        </div>
      </div>


      <div class="form-group"
           data-ng-class="getClass(sshKeyAddForm.ssh_key)">
        <label class="control-label col-md-4"
               for="repo.add.form.description">
          SSH Key
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3"
                    style="resize: none; min-height: 120px;"
                    id="repo.add.form.description"
                    placeholder="Paste the SSH public key"
                    name="ssh_key"
                    data-ng-required="true"
                    data-ssh-key-pattern
                    data-ng-model="sshkey.keystring" />
          <div class="text-danger"
               data-ng-show="showError(sshKeyAddForm.ssh_key, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(sshKeyAddForm.ssh_key, 'sshKeyPattern')">
            Invalid SSH key pattern
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="user.ssh_keys.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
