<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Edit User :</b>
      <a data-ui-sref="user_dashboard({Id: user.login})">
        {{ user.login }}
      </a>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.users.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" novalidate name="userEditForm">

      <div class="form-group"
           data-ng-class="getClass(userEditForm.name)">
        <label class="control-label col-md-4" for="user.edit.form.name">
          Full name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="user.edit.form.name"
                 name="name"
                 class="form-control"
                 placeholder="Real name"
                 data-ng-required="true"
                 data-ng-model="user.name"/>
          <div class="text-danger"
               data-ng-show="showError(userEditForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(userEditForm.email)">
        <label class="control-label col-md-4" for="user.edit.form.email">
          Email
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="user.edit.form.email" name="email"
                 data-unique-email-exclude="user.login"
                 class="form-control"
                 placeholder="Email ID"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z][a-zA-Z0-9._%-+]*@([a-zA-Z][a-zA-Z0-9-]*\.)+[a-zA-Z]{2,4}$/"
                 data-ng-model="user.email"/>
          <div class="text-danger"
               data-ng-show="userEditForm.email.$error.pattern">
            Invalid email ID
          </div>
          <div class="text-danger"
               data-ng-show="userEditForm.email.$error.uniqueEmailExclude">
            Email ID already in use
          </div>
          <div class="text-danger"
               data-ng-show="showError(userEditForm.email, 'required')">
            Required
          </div>
        </div>
      </div>


      <div class="form-group"
           data-ng-class="getClass(userEditForm.password)">
        <label class="control-label col-md-4" for="user.edit.form.password">
          Password
        </label>
        <div class="col-md-4">
          <input type="password" id="user.edit.form.password"
                 class="form-control"
                 name="password"
                 placeholder="Password"
                 data-ng-model="user.password"/>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(userEditForm.confirm_password)">
        <label class="control-label col-md-4" for="user.edit.form.confirm_password">
          Confirm password
        </label>
        <div class="col-md-4">
          <input type="password" name="confirm_password"
                 class="form-control"
                 placeholder="Confirm password"
                 data-ui-validate=" '$value==user.password' "
                 data-ui-validate-watch=" 'user.password' "
                 data-ng-model="confirm_password"/>
          <span class="text-danger"
                data-ng-show="userEditForm.confirm_password.$error.validator">
            Passwords do not match
          </span>
        </div>
      </div>

      <div class="form-group" data-ng-show="(user.login != 'admin')">
        <label class="control-label col-md-4" for="user.edit.form.status">
          Status
        </label>
        <div class="col-md-4">
          <label class="radio-inline">
            <input type="radio" name="activeUser"
                   data-ng-model="user.active"
                   data-ng-value="true">
            Active
          </label>
          <label class="radio-inline">
            <input type="radio" name="activeUser"
                   data-ng-model="user.active"
                   data-ng-value="false" checked>
            Inactive
          </label>
        </div>
      </div>

      <div class="form-group" data-ng-show="(user.login != 'admin')">
        <label class="control-label col-md-4" for="user.edit.form.admin">
          Role
        </label>
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="user.edit.form.admin"
                     name="admin"
                     data-ng-disabled="!user.active"
                     data-ng-model="user.admin"> Administrator
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="manage.users.show( {userId: user.login} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
