<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="list-group panel-default">
      <div class="list-group-item panel-heading">
        <div class="panel-title text-center">
          Projects
        </div>
      </div>
      <a data-ng-repeat="project in projects" data-ng-show="projects.length > 0"
         class="list-group-item" data-ng-href="{{project.href}}">
        [{{project.short_id}}] {{project.name }}
      </a>
      <span class="list-group-item" data-ng-show="projects.length < 1"
            style="text-align: center">
        Not a member in any projects
      </span>
    </div>
  </div>

  <div class="col-md-8">
  </div>
</div>
