<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Users</b>
    </span>
    <div style="display:inline; padding-left: 25px;" >
      <label class="radio-inline">
        <input type="radio" name="activeUser"
               data-ng-model="filterActive"
               data-ng-value="true">
        Active
      </label>
      <label class="radio-inline">
        <input type="radio" name="activeUser"
               data-ng-model="filterActive"
               data-ng-value="false" checked>
        Inactive
      </label>
    </div>

    <span class="pull-right">
      <a data-ui-sref="manage.users.add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <div class="row" data-ng-show="users.length > 0">

      <div class="col-md-8">
        <p style="text-align: center; margin-top: 25px">
          Showing {{ (users | filter:{active:filterActive}).length }} of
          {{pnTotalItems}}
          <span data-ng-show="pnTotalItems > 1">users</span>
          <span data-ng-show="pnTotalItems <= 1">user</span>
        </p>
      </div>

      <div class="col-md-4" style="text-align: right"
           data-ng-show="can_show_pagination()">
        <uib-pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-ng-change="pageChanged()"
                        data-ng-model="pnCurrentPage">
        </uib-pagination>
      </div>
    </div>
    <div data-ng-show="users.length == 0">
      <p style="text-align: center">Users have not been created yet.</p>
    </div>
  </div>
  <table id="user-listing" class="table table-hover">
    <tr data-ng-repeat="user in filtered_data = (users | filter:{active:filterActive})">
      <td class="col-md-3">
        <a data-ui-sref="manage.users.show( {userId: user.login} )">
          {{ user.login }}
        </a>
      </td>
      <td class="col-md-5">{{user.name}}</td>
      <td class="col-md-3" data-ng-switch="user.admin">
        <span data-ng-switch-when="true"class="label label-success"
              style="display: inline-block">
          Administrator
        </span>

        <span data-ng-switch-when="false" class="label label-info"
              style="display: inline-block">
          Normal user
        </span>

      </td>
      <td class="col-md-1" style="text-align:right"
          data-ng-switch="{{ user.login != 'admin' && user.login != userInfo.getLoginID() }}">
        <a data-ui-sref="user_dashboard({Id: user.login})"
           data-uib-tooltip="Dashboard">
          <i class="glyphicon glyphicon-dashboard"></i>
        </a>
        <a data-ng-click="deleteUser(user.login)"
           data-ng-switch-when="true" data-uib-tooltip="Delete"
           style="cursor:pointer">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
