<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>New User</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.users.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="userAddForm">
      <div class="form-group"
           data-ng-class="getClass(userAddForm.login)">
        <label class="control-label col-md-4"
               for="user.add.form.login">
          Login
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="user.add.form.login" name="login"
                 class="form-control"
                 data-unique-userid
                 placeholder="User ID"
                 data-ng-required="true"
                 data-ng-model="user.login"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(userAddForm.login, 'pattern')">
            Invalid user ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(userAddForm.login, 'uniqueUserid')">
            User ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(userAddForm.login, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(userAddForm.name)">
        <label class="control-label col-md-4"
               for="user.add.form.name">
          Full name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="user.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Real name"
                 data-ng-required="true"
                 data-ng-model="user.name"/>
          <div class="text-danger"
               data-ng-show="showError(userAddForm.name, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(userAddForm.email)">
        <label class="control-label col-md-4" for="user.add.form.email">
          Email
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="user.add.form.email" name="email"
                 class="form-control"
                 data-unique-email
                 placeholder="Email ID"
                 data-ng-required="true"
                 data-ng-pattern="/^[a-zA-Z][a-zA-Z0-9._%-+]*@([a-zA-Z][a-zA-Z0-9-]*\.)+[a-zA-Z]{2,4}$/"
                 data-ng-model="user.email"/>
          <div class="text-danger"
               data-ng-show="userAddForm.email.$error.pattern">
            Invalid email ID
          </div>
          <div class="text-danger"
               data-ng-show="userAddForm.email.$error.uniqueEmail">
            Email ID already in use
          </div>
          <div class="text-danger"
               data-ng-show="showError(userAddForm.email, 'required')">
            Required
          </div>
        </div>
      </div>


      <div class="form-group"
           data-ng-class="getClass(userAddForm.password)">
        <label class="control-label col-md-4" for="user.add.form.password">
          Password
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="password" id="user.add.form.password"
                 class="form-control"
                 name="password"
                 data-ng-required="true"
                 placeholder="Password"
                 data-ng-model="user.password"/>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(userAddForm.confirm_password)">
        <label class="control-label col-md-4" for="user.add.form.confirm_password">
          Confirm password
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="password" name="confirm_password"
                 class="form-control"
                 data-ng-required="true"
                 placeholder="Confirm password"
                 data-ui-validate=" '$value==user.password' "
                 data-ui-validate-watch=" 'user.password' "
                 data-ng-model="confirm_password"/>
          <span class="text-danger"
                data-ng-show="userAddForm.confirm_password.$error.validator">
            Passwords do not match
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4" for="user.add.form.admin">
          Role
        </label>
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="user.add.form.admin"
                     name="admin"
                     data-ng-model="user.admin"> Administrator
            </label>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="manage.users.list"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
