<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>User :</b>
      <a data-ui-sref="user_dashboard({Id: user.login})">
        {{ user.login }}
      </a>
    </span>
    <span class="pull-right">
      <a data-ui-sref="manage.users.list">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right">
        <a data-ui-sref="manage.users.edit( {userId: user.login} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{user.name}}</dd>
        <dt>Email</dt>
        <dd>{{user.email}}</dd>
        <dt>Administrator</dt>
        <dd>
          <span data-ng-show="user.admin" class="label label-success"
                style="display: inline-block">
            Yes
          </span>
          <span data-ng-show="!user.admin" class="label label-info"
                style="display: inline-block">
            No
          </span>
        </dd>
      </dl>
    </div>
  </div>
</div>
