<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Repository [{{repoDash.short_id}}] : Overview</b>
    </span>
    <span class="pull-right">
      <a data-uib-tooltip="Fork repository"
         data-ui-sref="repository.overview.fork({projectId: project_id, repoId: repoDash.short_id})">
        <i class="glyphicon glyphicon-random"></i>
        <span>Fork</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    {{ title }}
  </div>
</div>
