<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : Repositories</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="repositories.add( {projectId: project_id} )"
         data-ng-show="projectDash.can_add_repositories">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <div class="row" data-ng-show="repositories.length > 0">

      <div class="col-md-8">
        <p style="text-align: center; margin-top: 25px">
          Showing {{ repositories.length }} of {{pnTotalItems}}
          <span data-ng-show="pnTotalItems > 1">repositories</span>
          <span data-ng-show="pnTotalItems <= 1">repository</span>
      </div>
      <div class="col-md-4" style="text-align: right"
           data-ng-show="can_show_pagination()">
        <uib-pagination class="pagination-sm"
                        data-boundary-links="true"
                        data-previous-text="&lsaquo;"
                        data-next-text="&rsaquo;"
                        data-first-text="&laquo;"
                        data-max-size="pnMaxSize"
                        data-last-text="&raquo;"
                        data-total-items="pnTotalItems"
                        data-items-per-page="pnItemsPerPage"
                        data-ng-change="pageChanged()"
                        data-ng-model="pnCurrentPage">
        </uib-pagination>
      </div>
    </div>
    <div data-ng-show="repositories.length == 0">
      <p style="text-align: center">Project has no repositories yet.</p>
    </div>
  </div>
  <table id="repository-listing" class="table table-hover">
    <tr data-ng-repeat="repo in repositories">
      <td class="col-md-2">
        <a data-ui-sref="repository.overview.show( {projectId: project_id, repoId: repo.short_id})">
          {{ repo.short_id }}
        </a>
      </td>
      <td class="col-md-4">
        {{ repo.name }}
      </td>
      <td class="col-md-2" data-ng-switch="(repo.owner_login) ? true : false">
        <span data-ng-switch-when="true">{{ repo.owner_login }}</span>
        <span data-ng-switch-when="false">-</span>
      </td>
      <td class="col-md-2" data-ng-switch="(repo.forked_from) ? true : false">
        <span data-ng-switch-when="true">
          Forked from
          <a data-ui-sref="repository.overview.show( {projectId: project_id, repoId: repo.forked_from})">
            {{ repo.forked_from }}
          </a>
        </span>
      </td>
      <td class="col-md-2" style="text-align: right">
        <a data-ng-show="projectDash.can_manage_repositories"
           data-uib-tooltip="Delete" style="cursor: pointer"
           data-ng-click="deleteRepository(repo.short_id)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
  </table>
</div>
