<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Repository [{{repoDash.short_id}}] : Edit settings</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="repository.settings.show( {projectId: project_id, repoId: repoDash.short_id} )">
        <i class="glyphicon glyphicon-cog"></i>
        <span>Back to settings</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="repoEditForm">

      <div class="form-group"
           data-ng-class="getClass(repoEditForm.name)">
        <label class="control-label col-md-4"
               for="repo.edit.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="repo.edit.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="repository.name"
                 data-ng-pattern="/^[a-zA-Z][\s*\w]*$/"/>
          <div class="text-danger"
               data-ng-show="showError(repoEditForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoEditForm.name, 'pattern')">
            Invalid characters in repository name
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4"
               for="repo.edit.form.description">
          Description
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3"
                    style="resize: none; min-height: 120px;"
                    id="repo.edit.form.description"
                    placeholder="Short description of thee repository"
                    name="description"
                    data-ng-model="repository.description" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Done</button>
            <a data-ui-sref="repository.settings.show ( {projectId: project_id, repoId: repoDash.short_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
