<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Repository [{{repoDash.short_id}}] : Fork</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="repository.overview.show( {projectId: project_id, repoId: repoDash.short_id} )">
        <i class="glyphicon glyphicon-dashboard"></i>
        <span>Back to overview</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="repoForkForm">

      <div class="form-group">
        <label class="control-label col-md-4" for="repo.fork.form.fork_from">
          Forked from
        </label>
        <div class="col-md-4">
          <p id="repo.fork.form.fork_from" class="form-control-static">
            {{repoDash.short_id}}
          </p>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(repoForkForm.repo_id)">
        <label class="control-label col-md-4"
               for="repo.fork.form.repo_id">
          Repository ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="repo.fork.form.repo_id" name="repo_id"
                 class="form-control"
                 data-unique-repo-id
                 placeholder="Repository ID"
                 data-ng-required="true"
                 data-ng-model="repository.short_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(repoForkForm.repo_id, 'pattern')">
            Invalid repository ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoForkForm.repo_id, 'uniqueRepoId')">
            Repository ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoForkForm.repo_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(repoForkForm.name)">
        <label class="control-label col-md-4"
               for="repo.fork.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="repo.fork.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="repository.name"
                 data-ng-pattern="/^[a-zA-Z][\s*\w]*$/"/>
          <div class="text-danger"
               data-ng-show="showError(repoForkForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoForkForm.name, 'pattern')">
            Invalid characters in repository name
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4"
               for="repo.fork.form.description">
          Description
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3"
                    style="resize: none; min-height: 120px;"
                    id="repo.fork.form.description"
                    placeholder="Short description of thee repository"
                    name="description"
                    data-ng-model="repository.description" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Fork</button>
            <a data-ui-sref="repository.overview.show ( {projectId: project_id, repoId: repoDash.short_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
