<div class="panel panel-default">
  <div class="panel-heading">
    <b>Repository [{{repoDash.short_id}}] : Settings</b>
  </div>
  <div class="panel-body">
    <div>
      <div class="pull-right" data-ng-show="repoDash.can_edit_settings">
        <a data-ui-sref="repository.settings.edit( {projectId: project_id, repoId: repoDash.short_id} )">
          <i class="glyphicon glyphicon-edit"></i>
          <span>Edit</span>
        </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Short ID</dt>
        <dd>{{repository.short_id}}</dd>
        <dt>Name</dt>
        <dd>{{repository.name}}</dd>
        <dt>Description</dt>
        <dd data-ng-switch="repository.description.length > 0">
          <div data-ng-switch-when="true"
               data-ng-bind-html="html_description">
          </div>
          <span data-ng-switch-when="false">None</span>
        </dd>
      </dl>
    </div>
  </div>
</div>
