<div class="panel panel-default">
  <div class="panel-heading">
    <b>Repository [{{repoDash.short_id}}] : Access management</b>
  </div>
  <div class="panel-body">

    <div class="row"  data-ng-show="users.length > 0">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="access.form.user">User</label>
            <input type="text" class="form-control" id="access.form.user"
                   data-ng-model="filter_user" placeholder="Select user"
                   autocomplete="off"
                   data-uib-typeahead="user as user.name for user in users | matchUser:$viewValue"
                   data-typeahead-editable="false"
                   data-typeahead-on-select="onUserSelected()" />
          </div>

          <div class="form-group">
            <label class="sr-only" for="access.form.permission">Permission</label>
            <select class="form-control" id="access.form.permission"
                    name="permission"
                    data-ng-disabled="(filter_user && filter_user.name) ? false : true"
                    data-ng-model="permission"
                    data-ng-options="p for p in permissions"></select>
          </div>

          <button class="btn btn-primary" ng-click="addAccess()"
                  data-ng-disabled="!canAdd()">{{action}}</button>
        </form>
      </div>
    </div>

    <div data-ng-show="users.length == 0">
      <p style="text-align: center">
        There are no members in the project.
      </p>
    </div>
  </div>

  <table id="acl-listing" class="table table-hover"
         data-ng-show="users.length > 0">
    <tr data-ng-repeat="member in members">
      <td class="col-md-3">
        {{ member.login }}
      </td>
      <td class="col-md-5">
        {{ member.username }}
      </td>
      <td class="col-md-3">
        <span data-ng-switch="member.ui_permission == 'read'"
              style="margin-right: 2px; display: inline-block">
          <span class="label label-primary" data-ng-switch-when="true">
            Read
          </span>
          <span class="label label-default"
                data-ng-switch-when="false" style="cursor: pointer"
                data-ng-click="change_permission(member.login, 'read')">
            Read
          </span>
        </span>
        <span data-ng-switch="member.ui_permission == 'write'"
              style="margin-right: 2px; display: inline-block">
          <span class="label label-primary" data-ng-switch-when="true">
            Write
          </span>
          <span class="label label-default" data-ng-switch-when="false"
                style="cursor: pointer"
                data-ng-click="change_permission(member.login, 'write')">
            Write
          </span>
        </span>
        <span data-ng-switch="member.ui_permission == 'manage'"
              style="display: inline-block">
          <span class="label label-primary" data-ng-switch-when="true">
            Manage
          </span>
          <span class="label label-default" data-ng-switch-when="false"
                style="cursor: pointer"
                data-ng-click="change_permission(member.login, 'manage')">
            Manage
          </span>
        </span>
      </td>
      <td class="col-md-1" style="text-align: right">
        <a data-ng-show="userInfo.getLoginID() != member.login"
           data-uib-tooltip="Delete" style="cursor: pointer"
           data-ng-click="removeAccess(member.login)">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </td>

    </tr>
  </table>
</div>
