<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-left">
      <b>Project [{{project_id}}] : New repository</b>
    </span>
    <span class="pull-right">
      <a data-ui-sref="repositories.list( {projectId: project_id} )">
        <i class="glyphicon glyphicon-list"></i>
        <span>Back to list</span>
      </a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" novalidate name="repoAddForm">
      <div class="form-group"
           data-ng-class="getClass(repoAddForm.repo_id)">
        <label class="control-label col-md-4"
               for="repo.add.form.repo_id">
          Repository ID
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-3">
          <input type="text" id="repo.add.form.repo_id" name="repo_id"
                 class="form-control"
                 data-unique-repo-id
                 placeholder="Repository ID"
                 data-ng-required="true"
                 data-ng-model="repo.short_id"
                 data-ng-pattern="/^[a-zA-Z]\w*$/"/>
          <div class="text-danger"
               data-ng-show="showError(repoAddForm.repo_id, 'pattern')">
            Invalid repository ID
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoAddForm.repo_id, 'uniqueRepoId')">
            Repository ID already exists
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoAddForm.repo_id, 'required')">
            Required
          </div>
        </div>
      </div>

      <div class="form-group"
           data-ng-class="getClass(repoAddForm.name)">
        <label class="control-label col-md-4"
               for="repo.add.form.name">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-4">
          <input type="text" id="repo.add.form.name"
                 class="form-control"
                 name="name"
                 placeholder="Full name"
                 data-ng-required="true"
                 data-ng-model="repo.name"
                 data-ng-pattern="/^[a-zA-Z][\s*\w]*$/"/>
          <div class="text-danger"
               data-ng-show="showError(repoAddForm.name, 'required')">
            Required
          </div>
          <div class="text-danger"
               data-ng-show="showError(repoAddForm.name, 'pattern')">
            Invalid characters in repo name
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4"
               for="repo.add.form.description">
          Description
        </label>
        <div class="col-md-4">
          <textarea class="form-control" rows="3"
                    style="resize: none; min-height: 120px;"
                    id="repo.add.form.description"
                    placeholder="Short description of thee repository"
                    name="description"
                    data-ng-model="repo.description" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-4 pull-right">
          <div class="pull-right" >
            <button class="btn btn-primary" ng-click="save()"
                    data-ng-disabled="!canSave()">Add</button>
            <a data-ui-sref="repositories.list( {projectId: project_id} )"
               class="btn btn-default" role="button">
              Cancel
            </a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
